// BG

	.bg-cover {
		background-size: cover !important;
	}

// HEIGHT    
    
	.height-200 {
		height: 200px !important;
	}
	.height-300 {
		height: 300px !important;
	}
	.height-700 {
		height: 700px !important;
	}

// WIDTH

	.full-width {
		width: 100% !important;
	}